@model ISP_Biblioteka.ViewModels.MetMenAtaskaitaViewModel2
@{
    ViewBag.Title = "Metinė/mėnesinė užsakymų ataskaita";
}
<br>
<br>
<h2>Užsakymų istorija</h2>
@using (Html.BeginForm())
{
    <br>
    <br>
    @Html.LabelFor(model => model.period, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @*@Html.EditorFor(model => model.fk_marke, new { htmlAttributes = new { @class = "form-control" } })*@
        @Html.DropDownListFor(model => model.period, Model.LaikotarpisList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.period, "", new { @class = "text-danger" })
    </div>
    <input type="hidden" name="ExportData" />
    <input class="btn btn-default" type="submit" value="Atrinkti">

}
