
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>


<html>

<head>
    <style>
        #inventorySearchBar {
            max-width: 800px;
            position: relative;
            margin: 0;
            margin-top: 4%;
            margin-bottom: 0px;
            left: 50%;
            padding: 0px;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div id="searchArea" class="col text-center">
        <input class="form-control input-lg" id="inventorySearchBar" type="text" placeholder="Ieškomas inventorius..." />
        <small class="form-text text-muted" id="inventorySearchBarLabel">Įveskite ieškomo daikto pavadinimą arba ID.</small>
    </div>

    <div class="col text-center">
        <input class="form-check-input" type="checkbox" id="checkboxKnyga" value="Knygos" />
        <label class="form-check-label" for="checkboxKnyga">Knygos</label>

        <input class="form-check-input" type="checkbox" id="checkboxKompiuterija" value="Knygos" />
        <label class="form-check-label" for="checkboxKnyga">Kompiuterija</label>

        <input class="form-check-input" type="checkbox" id="checkboxBaldai" value="Knygos" />
        <label class="form-check-label" for="checkboxKnyga">Baldai</label>
    </div>

    <div class="col text-center">
        <button class="btn btn-primary btn-lg" style="margin-top:15px;">Ieškoti</button>
    </div>
</body>
</html>