@model ISP_Biblioteka.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Slaptažodžio keitimas</title>
</head>
<body onload="start()">
    <br>
    <h1 style="text-align:left">Slaptažodžio keitimas</h1>
    <div id="message1">
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span><strong>
                Slaptažodis pakeistas!<br />
            </strong>
        </div>
    </div>
    <div id="message2">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span><strong>Klaida! Neteisingai pateikti slaptažodžiai.</strong>
        </div>
    </div>
    <div class="modal-dialog two-col">
        <div class="modal-body col1">
            <form id="Editing">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">El.Paštas</label>
                    <input id="email" class="col-sm-4 form-control" type="text" value="@Model.Email" readonly>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Dabartinis slaptažodis</label>
                    <input id="password1" class="col-md-4 form-control" type="password">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Naujas slaptažodis</label>
                    <input id="password2" class="col-md-4 form-control" type="password">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Pakartoti slaptažodį</label>
                    <input id="password3" class="col-md-4 form-control" type="password">
                </div>

            </form>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" onclick="SaveForm()">Išsaugoti</button>
            </div>
        </div>
    </div>

</body>
</html>

<script>
    function start() {
        $("#message1").hide();
        $("#message2").hide();
    }

    function SaveForm() {
        $("#message1").hide();
        $("#message2").hide();
        var passwor1 = $("#password1").val();
        var passwor2 = $("#password2").val();
        var passwor3 = $("#password3").val();

        if (passwor1 == "" || passwor2 == "" || passwor3 == "" || passwor2 != passwor3 || passwor1 != "@Model.Password") {
            $("#message2").show();
            return false;
        }


        $.ajax({
            type: "post",
            data: { 'password': passwor2, 'email' : "@Model.Email"},
            url: "/User/ChangePassword",
            success: function () {
                $("#message1").show();
            }
        });
    }
</script>
