
@{
    ViewBag.Title = "Sveiki!";
}

@if (Session["email"] != null)
{
    <br><br>
    <div class="blockquote">
        Informacija apie paskyrą: <br>
        Vardas:  @Session["name"]<br />
        El.Paštas:  @Session["email"]<br />
        Paskyros tipas:  @Session["typeName"]<br />

    </div>
}