
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>
<style>
    table, tr, th {
        border: 1px solid black;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aktyvūs užsakymai</title>
</head>
<body style="padding-top:5%">
    <table style="width:80%" align="center">
        <tr>
            <th style="text-align:center;">Aktyvūs užsakymai</th>
        </tr>
        <tr>
            <th>
                <div align="center">
                    <h4 style="padding-left:1%">Knyga: Placeholder</h4>
                    <h5 style="padding-left:1%">Autorius: Placeholder</h5>
                    <img src="" width="140" height="190">
                    <h5>Pasiskolinimo data: Placeholder</h5>
                    <h5>Gražinimo data: Placeholder</h5>
                </div>
                <p align="right"><a href="" style="font-size:11px; padding-right:1%;"  onclick="return clicked()">Pamečiau knygą</a></p>
            </th>
        </tr>
    </table>

</body>
</html>

<script type="text/javascript">
    function clicked() {
        if (confirm('Ar tikrai pametėt knygą?')) {
        } else {
            return false;
        }
    }

</script>
