
@{
    ViewBag.Title = "Index";
}

<h2 align="center">Laiškas vartotojams</h2>
<body>
    <div align="center">
        <textarea rows="20" cols="1000" name="letter" form="usrform"></textarea>
    </div>
    <div class="form-group" align="center">
        <button class="btn btn-primary" type="submit">Siųsti</button>
    </div>
</body>

